@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  background-color: #151c24;
  font-family: "Mulish", sans-serif;
  height: 100%; /* Make sure the body covers the full height of the viewport */
  margin: 0;
  padding: 0;
}

/* Apply this style to the footer to stick it to the bottom */
footer {
  /* position: fixed; */
  /* width: 100%; */
  /* left: 0; */
  /* bottom: 0; */
}
